 /* Etiquetas  */

 h1,h2{text-align: center;margin-top: 50px;}

 a {text-decoration:none;color:white;}

 body{margin:0; padding:0; background-color:#f3ffff;}
 
 h1, body {font-family: Helvetica, Times}

 th {background-color:rgb(255, 255, 255) ;} 
 
 table,th,td {border: 2px solid rgb(0,0,0)}

 section {overflow: auto;} 


 /* Header */

 header {height:200px;padding-top: 5px ; padding-bottom: 20px; display: flex; justify-content: center;padding-left:50px;border-bottom:2px solid black;background-color:#3b8b8d;color:#ffffff;}

 header h1 {line-height: 200px;height:100px;margin: 0; padding: 0;}

/*Nav*/

 nav {margin-top: 20px;color:white;border: 2px solid rgb(0,0,0);border-left: none; border-right:none; background-color: #186667;justify-content: center; align-items: center;}

/* Footer */

 footer {padding-bottom: 20px; padding-top: 10px;color: rgb(240, 248, 255); font-size: 20px;border-top:2px solid black;background-color:#3b8b8d;}

/*Section*/

 #section {height: 1010px; width: 100%; padding-left:20px;background-color: #92d9e9; border:2px solid black;border-left:none;}

/*Aside*/

 .aside {height: 600px; width: 100%;text-align: center;border:2px solid black; border-right:none;background-color: #92d9e9;} 

 .aside p {color:black;}

 .aside h3 {color:black;}

 .aside_1 {height: 400px; width: 100%;text-align: center;border:2px solid black; border-right:none;}

 .aside_1 p {color:black;}

 .aside_1 h3 {color:black;}

 .aside_2 {height: 1010px; width: 100%;text-align: center;border:2px solid black; border-right:none;}

 .aside_2 p {color:black;}

 .aside_2 h3 {color:black;}

 [class^="aside"] {background-color: #92d9e9;}

/*ID*/

 #header_div {height: 100px;width:100px;}

 #easteregg {margin-left:auto;}

 #easteregg_1 {margin-right: auto;}
 
 #working {font-family: 'Comic Sans MS', 'Comic Sans', cursive; color:rgb(0,0,0)} 

 #navigate {position:fixed ;display:inline-block; right: 20px;bottom: 20px;z-index: 9999;}

 #menu:checked ~ .show {display: block;}

 /*Class*/

 .Anakin {display: flex;max-width: 1500px; margin: 20px auto; align-items: flex-start;gap:5px;}
 
 .Anakin_1 {display: block;max-width: 1500px; margin: 20px auto; align-items: flex-start;gap: 10px;}

 .Luke {display:flex;flex-direction:column;gap:10px;width:280px;}

 .products {display:flex;align-items: center; gap:10px; padding: 20px;}

 .products h4, .products p {margin: 5px 0; text-align: left;}

 .image {transition: transform 0.3s ease-in-out;border-radius: 10px;}
 
 .Obiwan {display:flex}

 .Obiwan_Kenobi {display:flex; text-align: center;}

 .logo {padding:5px;}

 .boxtroll_2 {display: none;}

 .show {position:absolute; bottom: 100%; right:0;background-color: white;border: 1px solid #ccc; box-shadow: 0 4px 8px rgba(0,0,0,0.2);padding: 10px;z-index: 100;min-width: 120px;display: none;}

 .show a {display:block;padding:5px;color:#333}

 .p {display:flex; gap:10px;}

 .P {padding:5px;padding-right:-10px; margin-right:10px;}

 .s_2 {gap:20px;display:flex; overflow-x: auto; list-style-type: none;font-size:20px;border-radius:10px;border:2px solid black;}

 .center {align-items: center;}

 .over_1 {overflow-y:auto;}

 .padding {padding-top:5px;}

 .ACDC {color:rgb(0,0,0)}

 .round {border-radius: 10px;}

 .round_1 {border-radius:5px;}

 .small {font-size:15px; color:white;}

 .s_1 {border:2px solid rgb(0,0,0);background-color:#ffffff;color:#ffffff}

 .s_1 h1 {border:2px solid rgb(0,0,0);border-left:none;border-right:none;background-color:#8a598e;color:#ffffff}

 .text {border:2px solid rgb(0,0,0);border-left:none;border-right:none;background-color:#8a598e;color:#ffffff}
 
 .text_1 {border:2px solid rgb(0,0,0);border-left:none;border-radius:2px;background-color:#8a598e;color:#ffffff}

 .products_curve {border:2px solid rgb(0,0,0);border-left:none;border-right:none;background-color: #d5b8d7; color:white}

 .products_curve_1 {border:2px solid rgb(0,0,0);border-left:none;background-color: #d5b8d7; color:white}

 .justify {display:flex; align-items:center;justify-content: center; }

 .title_Y {background-color: #8a598e;border-radius: 10px ;color: #ffffff;margin-right: 10px;}

 .No_points {list-style: none;}

 /* Codigos extras */

 #navigate label:hover img {transform: scale(1.05);} 
 .image:hover {transform: scale(1.60)}
 a:active {color:rgb(0, 128, 255)}


 nav ul {list-style: none; padding:0px;margin:0px; display:flex; justify-content: center;}
 nav ul li {margin: 0 25px;}

 #page-working{display: flex; justify-content: center; align-items: center; height: 35vh}
